<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.14" targetFramework="xamarinios10" />
  <package id="AWSSDK.CognitoSync" version="3.3.1.23" targetFramework="xamarinios10" />
  <package id="AWSSDK.Core" version="3.3.17.9" targetFramework="xamarinios10" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.17" targetFramework="xamarinios10" />
  <package id="AWSSDK.Lambda" version="3.3.8" targetFramework="xamarinios10" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.1.20" targetFramework="xamarinios10" />
  <package id="AWSSDK.S3" version="3.3.11" targetFramework="xamarinios10" />
  <package id="AWSSDK.SecurityToken" version="3.3.2.3" targetFramework="xamarinios10" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.21" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
</packages>